{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [{
    "files": ".prettierrc",
    "options": {
      "parser": "json"
    }
  }],
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "crlf"
}
